<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <h2 class="text-center">Log in or <%= render "devise/shared/links" %></h2>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form-group">
          <label for="exampleInputEmail1">Email</label>
          <div class="input-group">
              <div class="input-group-addon"><i class="fa fa-envelope"></i></div>
              <%= f.email_field :email, autofocus: true, placeholder: "Enter email", autocomplete: "email", class: "form-control" %>
          </div>
      </div>
      <div class="form-group">
          <label for="exampleInputpwd1">Password</label>
          <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-lock"></i></div>
            <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
          </div>
      </div>
      <% if devise_mapping.rememberable? -%>
        <div class="form-group">
          <div class="checkbox checkbox-success">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
        </div>
      <% end -%>
      <%= f.submit "Log in", class: "btn btn-info btn-block" %>
    <% end %>
  </div>
  <div class="col-md-2"></div>
</div>
